<form class="form-horizontal" ng-controller="loginCtrl as lc" name="loginForm" novalidate>
    <legend>Sign Up</legend>
    
    
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-5">
        <input class="form-control"  placeholder="Email" type="text" name="email" 
               ng-model="lc.user.email"
               ng-required="true">
          <p ng-if="loginForm.email.$error.required && loginForm.email.$dirty">Email is required</p>
      </div>
    </div>
      
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-5">
        <input class="form-control"  placeholder="Username" type="text" name="username"
               ng-model="lc.user.username"
               ng-required="true"
               ng-minlength="6"
               ng-maxlength="12"
               ng-pattern="/^[A-z]+$/">
          <p ng-if="loginForm.username.$error.required && loginForm.username.$dirty">Username is required</p>
          <p ng-if="loginform.username.$error.minlength">Username should be of minimum 6 characters</p>
          <p ng-if="loginform.username.$error.maxlength">Username should be of maximum 12 characters</p>
          <p ng-if="loginform.username.$error.pattern">Invalid Username</p>
      </div>
    </div>
    
    
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-5">
        <input class="form-control"  placeholder="Password" type="password" name="password"
               ng-model="lc.user.password"
               ng-required="true"
               ng-minlength="6"
               ng-maxlength="12"
               ng-pattern="/^[A-z0-9]+$/">
          <p ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password is required</p>
          <p ng-if="loginform.password.$error.minlength">Password should be of minimum 6 characters</p>
          <p ng-if="loginform.password.$error.maxlength">Password should be of maximum 12 characters</p>
          <p ng-if="loginform.password.$error.pattern">Invalid entry</p>
      </div>
    </div>
      
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Age</label>
      <div class="col-lg-5">
        <input class="form-control"  placeholder="Age" type="text" name="age"
               ng-model="lc.user.age"
               numbers-Only maxlength=2>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-lg-2 control-label">DOB</label>
      <div class="col-lg-5">
        <input class="form-control"  placeholder="DOB" type="text" name="DOB"
               ng-model="lc.user.DOB"
               custom-date-picker>
      </div>
    </div>
    
    
    
        <div class="form-group">
        <label class="col-lg-2 control-label">Gender</label>
      <div class="col-lg-5">
        <div class="radio">
          <label>
            <input name="gender" value="option1" checked="" type="radio">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="gender" value="option2" type="radio">
            Female
          </label>
        </div>
      </div>
    </div>
      
      <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Describe Yourself</label>
      <div class="col-lg-5">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Visa Type</label>
      <div class="col-lg-5">
        <select class="form-control" ng-model="lc.selectedVisa" ng-options="visa.type for visa in lc.visaTypes">
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="lc.btnSubmit()">Submit</button>
      </div>
    </div>
</form>