<table class="table table-hover " ng-controller="productCtrl as pc" >
  <thead>
    <tr>
        <th><h3>Index</h3></th>
        <th><h3>Price</h3></th>
        <th><h3>Model</h3></th>
    </tr>
  </thead>
  <tbody ng-repeat="product in myProducts">
    <tr>
        <td><h4>{{product.index}}</h4></td>
        <td><h4>{{product.Price}}</h4></td>
        <td><h4>{{product.Model}}</h4></td>
        <td><button class="btn btn-primary" ng-click="pc.addItem(product)">Add to Cart</button></td>
    </tr>
    
  </tbody>
</table> 